<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>finished</title>
  </head>
  <body>
    <div>
      終了!時間<%= time %>秒
      スコア<%= score %>点
    </div>
    <div id="elements">
      <p id="result">結果</p>
      <table id="ranking">
        <% for (let listItem of listItems) {%>
        <tr><th><%= listItem.record_id %></th><th><%= listItem.username %></th><th><%= listItem.score %></th></tr>
        <!-- <tr>
          <th id="rank_order">a</th>
          <td id="username">b</td>
          <td id="score">c</td>
        </tr> -->
        <% } %>
      </table>
      <a href="/">戻る</a>
    </div>
  </body>
</html>
