<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>結果</title>
    <style type="text/css">
      .yourResults {
        font-size: 3vw;
        background: scroll;
        background-color: rgb(218, 181, 88);
        width: 30vw;
        position:fixed;
        left: 2vw;
        text-align: center;
      }
      .rankBoard {
        background: #ffffff;
        width: 20vw;
        padding: 15px;
        border: 1px solid #cccccc;
        position: absolute;
        left: 33vw;
        top: 0vw;
        text-align: center;
      }
      #results{
        font-size: larger;
      }
      #ranking{
        margin: auto;
      }
      /*.flex{
        display: flex;
      }*/
    </style>
  </head>
  <body>
    <div class="flex">
      <div class="yourResults">
        <p id="finish">終了!</p>
        <% i=1 %>
        <% for (let listItem of listItems) {%>
        <%if (score == listItem.score) {%>
        <p>順位<%=i %>位</p>
        <% break } else {%>
        <% i++ } %>
        <% } %>
        <p id="Time">時間<%= time %>秒</p>
        <p id="Score">スコア<%= score %>点</p>
      </div>
      <div class="rankBoard">
        <p id="results">ランキング</p>
        <table id="ranking">
          <% i=1 %>
          <% for (let listItem of listItems) {%>
          <tr><th><%= i %></th><th><%= listItem.username %></th><th><%= listItem.score %></th></tr>
          <% i++ %>
          <% } %>
        </table>
        <a href="/">戻る</a>
      </div>
    </div>
  </body>
</html>
